/* LOGIN */
body{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
	width: 100vh;
	background-size: cover;
	background-position: center;
}
.login-page{
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
}
.form-login {
	position: relative;
	z-index: 1;
    background: linear-gradient(#e66465, #9198e5);
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;

}
.form-login input{
    font-family:"Roboto",sans-serif;
	outline: 1;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form-login button{
    font-family: "Roboto",sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: rgb(78, 197, 245);
	border: 0;
	margin: 0 0 15px;
    padding: 15px;
    color: #ffffff;
	font-size: 14px;
	cursor: pointer;

}
.form-login button:hover,.form-login button:active{
    background: rgb(28, 78, 107);
} 
.form-login .message{
    margin: 15px 0 0;
    font-size: 12px;
}
.form-login .message a{
    text-decoration: none;
}
.form-login .register-form{
    display: none;
}