@font-face{
	font-family: roboto-bold;
	src: url('../fonts/Roboto-Bold.ttf');
}
@font-face{
	font-family: roboto-regular;
	src: url('../fonts/Roboto-Regular.ttf');
}
@font-face{
	font-family: roboto-light;
	src: url('../fonts/Roboto-Light.ttf');
}
body{
	margin: 0;
	font-size: 14px;
	background: #ebebeb;
	font-family: roboto-regular;
	height: 100%;
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    transition: color 0.3s linear;
}
p{
	margin: 0;
}
input, button{
	outline: 0;
}
.fix-image{
	width: 100%;
	height: auto;
	max-height: 100%;
}
/*INDEX*/
/*HEADER*/
header{
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	background: #026aa7;
	height: 40px;
	align-items: center;
}
header a{
	color: #fff;
	padding: 8px;
	background: #4e97c2;
	border-radius: 5px;
	font-weight: 700;
}
header a:hover{
	background: hsla(0,0%,100%,.2);
	color: #fff;
}
header a.avatar{
	display: inline-block;
	width: 30px;
	height: 30px;
	padding: 0;
}
header a.avatar img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.header-right{
	position: relative;
}
.main-popup{
	position: absolute;
	width: 304px;
	background-color: #fff;
	right: 0;
	top: 120%;
	border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
    display: none;
    z-index: 10;
}
.main-popup a, .main-popup span{
	color: #5e6c84;
	background-color: transparent;
	font-weight: 400;
}
.main-popup-head{
	text-align: center;
	padding: 10px 0;
	margin: 0 10px;
	border-bottom: 1px solid rgba(9,30,66,.13);
}
.main-popup-content{
	padding: 10px;
}
.main-popup-content li{
	padding: 10px 0;
}
/*CONTENT*/
.main-content-home{
	/*margin-top: 30px;*/
}
.main-content-home-title{
	font-size: 22px;
	font-weight: 700;
	font-family: roboto-bold;
	color: #0079bf;
	text-align: center;
	margin-bottom: 30px;
}
.table-item{
	height: 150px;
	margin-bottom: 30px;
	position: relative;
	border-radius: 5px;
	display: flex;
}
.table-item .thumb{
	height: 100%;
}
.table-item-title{
	color: #fff;
	font-weight: 700;
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px;
}
.table-item-title:hover{
	color: #fff;
}
.table-item img{
	border-radius: 8px;
	height: 100%;
}
/*TABLE*/
.main-wrap{
	height: 100vh;
	background-image: url('../images/image_02.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 40px;
}
.header-table{
	background: rgba(0,0,0,.32);
	position: absolute;
	width: 100%;
}
.header-table a{
	background-color: hsla(0,0%,100%,.3);
}
.table-breadcrumb{
	/*background: hsla(0,0%,100%,.24);*/
	height: 48px;
	display: flex;
	align-items: center;
}
.table-breadcrumb-title{
	color: #fff;
	font-size: 18px;
	padding-left: 12px;
	font-weight: 700;
}
.main-content-table{
	/*height: 100vh;*/
	width: 100%;
	display: flex;
}
.main-table-item{
	width: 272px;
	height: max-content;
	min-height: 200px;
	margin: 0 4px;
	padding: 5px;
	border-radius: 5px;
	background-color: #ebecf0;
}
.main-table-item-title{
	padding: 10px 5px;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.table-item-menu-icon{
	padding: 3px;
	color: #6b778c;
}
.main-task{
	background: #fff;
	border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    cursor: pointer;
    padding: 6px 8px;
    margin-bottom: 10px;
}
.main-task .main-task-users{
	margin-top: 5px;
	text-align: right;
}
.main-task .main-task-users img{
	width: 25px;
	height: 25px;
	border-radius: 50%;
}
.main-task .main-task-title{
	color: #172b4d;
}
.main-task .fix-image{
	margin-bottom: 10px;
}
.main-table-item-content{
	min-height: 100px;
}
.main-task-finish{
	font-size: 12px;
	color: rgb(94, 108, 132);
}
.main-task-finish i{
	margin-right: 5px;
}
.box-add-new-task{
	cursor: pointer;
	transition: 0.1s linear;
	padding: 8px;
}
.box-add-new-task:hover{
	background-color: rgba(9,30,66,.13);
}
.box-add-new-task span{
	font-size: 14px;
	font-weight: 700;
}
.box-add-new-sub-table span{
	color: #fff;
}
.main-table-add{
	min-height: auto;
	background-color: hsla(0,0%,100%,.24);
}
.add-new-task, .add-new-sub-table{
	font-size: 14px;
	line-height: 20px;
	color: #5e6c84;
	margin-left: 5px;
	transition: 0.1s linear;
}
.add-new-sub-table{
	color: #fff;
}
.add-new-sub-table:hover{
	color: #fff;
}
.add-new-task:hover{
	color: #5e6c84;
}
.name-task-add, .name-sub-table-add{
	border: 0;
	width: 100%;
	outline: 0;
}
.box-add-new-task-action{
	padding-bottom: 10px;
}
.add-task-button, .add-sub-table-button{
	background-color: #5aac44;
    box-shadow: none;
    border: none;
    color: #fff;
    border-radius: 3px;
    margin: 8px 4px 0 0;
    padding: 6px 12px;
    cursor: pointer;
}
.add-task-cancel{
	cursor: pointer;
	padding: 0 5px;
	display: inline-block;
}
.comment{
	padding: 20px;

}
.comment input{
	border-radius: 15px;
}
.comment-top input{
	height:60px;
	width: 400px;
}
.comment-top{
	padding-top: 10px;
}
.comment-top img  {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.comment-bot{

}
.comment-bot img  {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	
}
.modal-des textarea{
	border-radius: 10px;
	border-color: #cdcdcd;
}
.modal-des{
	font-weight: 700;
}
.modal-des i{
	margin-right: 15px;
}