<!DOCTYPE html>
<html>
<head>
	<title>Quản lý Hồ sơ cá nhân</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/profile.css">
</head>
<body>
	<!-- /Header -->
<header>
	<div class="header-left">
		<a href="#" title=""><i class="fa fa-home" aria-hidden="true"></i></a>
		<a  href="#" title=""><i class="fa fa-clipboard" aria-hidden="true">Bảng</i></a>	
		<a href="#" title=""><i class="fa fa-search" aria-hidden="true"></i></a>	
	</div>

	<div class="header-right">
		<a href="#" title=""><i class="fa fa-plus" aria-hidden="true"></i></a>
		<a href="#" title=""><i class="fa fa-info-circle" aria-hidden="true"></i></a>
		<a href="#" title=""><i class="fa fa-bell" aria-hidden="true"></i></a>
		<img src="layouts/images/profileimages.png" class="rounded">
	</div>
</header>
	<!-- /content -->
<div class="border-menu">
	<div class="border-header">
		<h2>Bùi Thanh Nam</h2>
		<p>@thanhnambui</p>
	</div>

	<div class="tab-pills">
		<ul>
			<li>Hồ Sơ và hiển thị</li>
			<li>Hoạt động</li>
			<li>Thẻ</li>
			<li>Cài đặt</li>
			<li>Premium</li>
		</ul>
	</div>
</div>
</body>
</html>